[Unit]
Description=Prefect Server

[Service]
User={{ username }}
WorkingDirectory={{ builder_path }}
ExecStart=/bin/bash -c 'source {{ builder_venv }}/bin/activate && {{ builder_venv }}/bin/prefect server start'
Restart=always

[Install]
WantedBy=multi-user.target
