[Unit]
Description=SoftPack Builder

[Service]
User={{ username }}
WorkingDirectory={{ builder_path }}
Environment=PATH={{ builder_venv }}/bin:/usr/local/bin:/usr/bin
ExecStart={{ builder_venv }}/bin/softpack-builder service
Restart=always

[Install]
WantedBy=multi-user.target
