all:
  hosts:
    build-controller:
      ansible_host: ${build_controller_hostname}
      ansible_user: ubuntu

  children:
    build_nodes:
      hosts:
        %{ for node, hostname in build_node_hostnames}${node}:
          ansible_host: ${hostname}
          ansible_user: ubuntu

        %{ endfor }

