[Unit]
Description=Prefect Server

[Service]
User={{ username }}
RuntimeDirectory=prefect
WorkingDirectory={{ builder_path }}
Environment=PATH={{ builder_venv }}/bin:/usr/local/bin:/usr/bin
ExecStart={{ builder_venv }}/bin/prefect server start
Restart=always

[Install]
WantedBy=multi-user.target
