[Unit]
Description=SoftPack Builder
After=prefect-agent.service
Requires=prefect-agent.service

[Service]
User={{ username }}
WorkingDirectory={{ builder_path }}
Environment=PATH={{ builder_venv }}/bin:/usr/local/bin:/usr/bin
ExecStart={{ builder_venv }}/bin/softpack-builder service run
Restart=always

[Install]
WantedBy=multi-user.target
